<div class="ui fixed inverted borderless menu mobile-hide">
  <a class="header item" routerLink="/home">
    <i class="large inverted book icon"></i>My Diary
  </a>
  <a class="item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/diary" routerLinkActive="active">
    Diary
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui positive button">Sign Up</div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="ui inverted fixed borderless menu large-hide small-hide tablet-hide">
  <a class="item left" href="#"><i class="sidebar icon"></i></a>
  <a class="header item right" routerLink="/home">
    <i class="large inverted book icon"></i>My Diary
  </a>
</div>
