<div class="ui raised fluid card">
  <div class="content">
    <i class="right floated blue edit large link icon" [routerLink]="['/edit-diary',event._id]"></i>
    <i class="right floated red trash large link icon" (click)="onDelete(event)"></i>
    <div class="header">{{ event.title }}</div>
    <div class="meta">{{ event.date | date }}</div>
    <div class="description">
      <p> {{ event.content }} </p>
    </div>
  </div>
  <div class="extra content">
    <!--<span class="left floated like tex">-->
      <!--<i class="like icon"></i>-->
      <!--Like-->
    <!--</span>-->
    <span class="left floated star tex">
      <i class="star icon" [ngClass]="{'yellow': event.favorite===true}" (click)="toggleFav(event)"></i>
      Favorite
    </span>
  </div>
</div>
<div class="div" style="width: 20px;"></div>
