<div class="login-wrapper">
  <form class="login" (ngSubmit)="onLogin(f)" #f="ngForm">
    <label class="title">
      <h2 class="welcome">Welcome to your Diary</h2>
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" name="username" placeholder="Username" ngModel>
      <input class="password" type="password" id="login_password" name="password" placeholder="Password" ngModel>
      <!--<div class="checkbox">-->
        <!--<input type="checkbox" id="rememberme">-->
        <!--<label for="rememberme">-->
          <!--Remember me-->
        <!--</label>-->
      <!--</div>-->
      <div class="error" [ngClass]="{active: loginFail}">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a class="signup">New User? Register here</a>
    </div>
  </form>
</div>

