<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <strong>{{ event.title }}</strong>
        <div style="float: right; margin-top: -5px">
          <button class="btn btn-sm btn-link" [routerLink]="['/diary','view',event.id]" *ngIf="contentLength===2500; else minimizeButton">
            <clr-icon shape="resize-up" size="22" class=""></clr-icon>
          </button>
          <ng-template #minimizeButton>
            <button class="btn btn-sm btn-link" [routerLink]="['/diary','events']">
              <clr-icon shape="resize-down" size="22" class=""></clr-icon>
            </button>
          </ng-template>
          <button class="btn btn-sm btn-link" [routerLink]="['/diary','edit',event.id]">
            <clr-icon shape="pencil" size="22"></clr-icon>
          </button>
          <button class="btn btn-sm btn-link" (click)="onDelete(event)">
            <clr-icon shape="trash" size="22"></clr-icon>
          </button>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          {{ (event.content.length>contentLength)? (event.content | slice: 0:contentLength)+'...':(event.content)}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="toggleFav(event)">
          <clr-icon shape="heart" size="22" [ngClass]="{'is-solid': event.favorite===true}"></clr-icon>
        </button>
        <div style="float: right">{{ event.date | date }}</div>
      </div>
    </div>
  </div>
</div>

