<br>
<div class="ui grid" style="padding-top: 45px; margin-left: 1px; margin-right: 1px">
  <div class="row">
    <!--<div class="three wide column grid timeline computer only">-->
      <!--<app-timeline></app-timeline>-->
    <!--</div>-->
    <!-- *****************app restructure change 8-01-18****************************-->
    <!--***************** Deleted input event component 8-01 ***********************-->
    <!--<div class="col-sm-3"></div>-->
    <!--<div class="col-sm-6">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
          <!--<app-input-event></app-input-event>-->
        <!--</div>-->
      <!--</div>-->
      <!--<br>-->

    <div class="sixteen wide mobile sixteen wide computer column grid">
      <!--<app-events></app-events>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
